body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(107, 163, 238);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
img{
  height: 450px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(107, 163, 238);
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

h1, h2, h3 {
  text-align: center;
}

textarea {
  width: 100%;
  height: 100px;
  margin-bottom: 10px;
}
.stars{
  text-align: center;
}
.star{
  font-size: 40px;
}